<div class="page-header">
  <%= link_to journal_journals_path, :class => 'btn btn-default' do %>
    <i class="fa fa-level-up fa-lg"></i>
    <%= t('journal.journals.list_title') %>
  <% end %>
  <h1><%= t('journal.new_journal.page_title') %></h1>
</div>

<%= render 'form' %>
