<nav rrole="navigation" class="navbar nnavbar-custom nnavbar-default navbar-inverse nnavbar-inner navbar-fixed-top">
      <ul class="nav nnavbar-left navbar-nav nnavbar-right">
        <!-- li><a href="/"><i class="fa fa-home"></i> Home</a></li -->
        <li><%= link_to journal_journals_path do %>
        	<!-- i class="fa fa-home"></i> <%#= t('journal.nav.journals') %> -->
        	<i class="fa fa-home"></i> <%= t('journal.nav.home') %>
        <% end %></li>
<!-- insert module links before this line -->
<%= render partial: 'layouts/nav_user_links' %>
<!-- insert user links before this line -->
      </ul>
    </nav>

